@font-face {
	font-family: 'Conv_ArimaMadurai-Bold';
	src: url('../fonts/ArimaMadurai-Bold.eot');
	src: local('☺'), url('../fonts/ArimaMadurai-Bold.woff') format('woff'), url('../fonts/ArimaMadurai-Bold.ttf') format('truetype'), url('../fonts/ArimaMadurai-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

h1,h2,h3,h4,h5,h6{
    margin-bottom: 0;
    font-weight: 600;
    color: #feb564;
    font-family: 'Roboto', sans-serif;
}
.modal-body{
    padding: 2rem;
}
p{
    color: #fff;
    padding: 0  ;
    margin: 0  ;
}
.section_list_items a,.nav-item a{
    color: #fff;
}    
.slider_wrapper .bttn a{
    color: #fff;
}
.primer_color{
    color: #fdb664;
}
.primer_bg{
    background-color: #fdb664;
}
.primer_border{
    border-color: #fdb664 !important;
}
a{
    color: #000 ;
    transition: all .5s ease;
    text-decoration: none;
}
.nav-link span i{
    transition: all .5s ease;
}
.text_black{
    color: #000 !important;
}
:focus,button.btn:focus,.btn-close:focus{
    box-shadow: none !important;
    outline: none !important;
}

body.active {
    overflow: hidden !important;
    padding-right: 16px;
}

.btn-close,.close_btn a i{
    transform: rotate(0deg);
    transition: all .5s ease;
}
.btn-close:hover,.close_btn a i:hover{
    transform: rotate(180deg);
}
.header_row{
    padding: 5px 0px;
}
.text-black{
    color: #000 !important;
}
.coca{
    color: #d2b48c;
}
#currency,#language{
    border: 1px solid hsla(0, 0%, 0%, 0);
    padding: 0px 10px;
    font-size: 12px;
}
.header{
    background-color: #feb564 ;
}
.conveter{
    float: right;
}
#currency:focus,#language:focus{
    outline: none;
}
.conveter select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #feb56479 ;
    box-shadow: 0px 0px 10px 0px hsl(0deg 0% 0% / 11%);
    color: #fff;
}
.nav_icon{
    color: #fff;
    margin-right: 20px;
    position: relative;
}
.nav_icon.active i{
    color: #feb564;
    font-weight: 600;
}
.navbar{
    position: sticky;
    top: 0;
    z-index: 30;
    padding: 0% 3%;
}
.nav_icon:last-child{
    padding-right: 0;
}
.dropdown-menu{
    padding: 50px;
    background-color: #2a2a2a;
}
/* navbar */

.nav-item.dropdown{
    position: inherit;
}
/* remove scroll bar */

/* ::-webkit-scrollbar {
    display: none;  
} */


/* scroll bar css  */

/* html {
    overflow: hidden;
    overflow-x: auto;
}
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: #feb564;
}*/

/* scroll bar css  */

.navbar .nav-item .nav-link{
    padding: 20px 25px !important;
}
.navbar .nav_icon .cart_count{
    color: #fff;
    background-color: #feb564;
    position: absolute;
    top: -7px;
    right: -14px;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 19px;
    border-radius: 50%;
    font-size: 13px;
}

.navbar a.nav-link.active,.navbar .nav-item.active{
    color: #feb564 !important;
}

a:hover,.close_btn a i:hover ,.bttn:hover a{
    color: #feb564 !important;
    text-decoration: none;
}
.shop_show{
    padding: 25px 100px;
    position: absolute;
    top: 64px;
    left: 0px;
    visibility: hidden;
    opacity: 0;
    background: #2a2a2c ;
    max-width: 100%;
    transition: all .5s ease;
    box-shadow: 0px 20px 20px 1px #00000026;
    z-index: 5;
}

/* navbar */

.navbar-collapse{
    position: relative;
}
.nav-item:hover .shop_show{
    opacity: 1;
    visibility: visible;
}
.section_list_items h5::after{
    content: '';
    height: 2px;
    width: 60%;
    background-color: #feb564;
    display: block;
    margin-top: 10px;
}
.section_list_items{
    margin-bottom: 10px;
}
.product_nav{
    left: 42%;
    padding: 30px 25px 10px;
}
.page_nav{
     left: 62%;
     padding: 30px 25px 10px;
}
.input[type="search"]{
    appearance: none;
    -moz-appearance: none;
}
.search_bar{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 40;
    transition: all 0.1s ease;
    animation:.5s fadeIn;
}
.overly,.overly_testimonial{
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color:hsla(0, 0%, 0%, 0.788);
    z-index: 40;
    transition: all 0.1s ease;
    animation:.5s fadeIn;
    height: 100vh;
}
.close_btn{
    position: absolute;
    top: -50px;
    right: -50px;
    cursor: pointer;
}

.close_btn a i {
    color: #fdb564;
    transition: .8s all ease;
    float: right;
}
.nav-link.show span i{
    transform: rotate(180deg);
}
input[type="search"] {
    border-width: 0 0 4px 0;
    border-color: #feb564;
    background: transparent;
    color: #fff;
    width: 270px;
    margin-right:10px;
    padding-bottom: 10px;
}
button.btn{
    background-color: #feb564;
    border: 0;
    color: #fff;
    padding: 7px 20px;
    transition: .8s all ease;
}
button.btn:hover{
    color: #fff;
    background-color: #feb564;
    transition: .8s all ease;
}
input::-webkit-input-placeholder{
    color: #ffffff;
}
@keyframes fadeIn{
    0% {opacity: 0;}
    100% {opacity: 1;}
}
/* sidebar cart */
.bm_b{
    border-bottom: 1px solid #feb564;
    margin-bottom: 5px;
}
.cart_table_wrapper tbody tr {vertical-align: baseline;}
.cart{
    display: flex;
    align-items: center; 
}
.trash{
    margin-left: auto;
}
.trash i{
    transition: all .5s ease-in-out;
}
.trash i:hover{
    color: #feb564;
}
.add_cart img{
    width: 25%;
    margin-right: 10px;
}
.cart_button .btn{
    display: block;
    width: 100%;
    margin-bottom: 5px;
    padding: 10px 0;
    font-size: 16px;
}
.side_cart .close_btn{
    position: relative;
    top: 0px;
    right: 0px;
}
.side_cart {
    position: fixed;
    top: 0;
    right: 0;
    left: auto;
    z-index: 2;
    padding: 20px;
    visibility: hidden;
    width: 30%;
    height: 100%;
    background: #fff;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.side_cart.st-effect-1{
    transform: translate3d(100%, 0, 0);
}
.cart_details_text p{
    color: #000;
}
.side_cart.active {
    visibility: visible;
    transform: translate3d(0, 0, 0);
}

.side_cart h5,.side_cart h6{
    color: #000;
}
/* banner slider */
.slide img{
    width: 100%;
    object-fit: cover;
}
element.style {
    display: block;
}
.slick-next {
    right: -25px;
}
.PrevArrow, .NextArrow {
    font-size: 30px;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    cursor: pointer;
    color: #fff;
    border: none;
    outline: none;
    z-index: 1;
}
.PrevArrow{
    right: 15px;
}
.PrevArrow:hover{
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
}
.NextArrow:hover{
    -webkit-transform: translate(-100%, -50%);
    -ms-transform: translate(-100%, -50%);
    transform: translate(-100%, -50%);
}
.NextArrow {
    left: 25px;
}
ul.slick-dots li a {
    width: 20px;
    height: 20px;
    background: #fff;
    display: block;
    border-radius: 50%;
    border: 3px solid #feb564;
}
.slick-dots li a span{
    position: absolute;
    top: -60px;
    transition: all .5s ease;
    visibility: hidden;
    opacity: 0;
    transition: all 0.9s;
    transform: scale(0) translateX(-50%) translateY(0%);
    -webkit-transform: scale(0) translateX(-50%) translateY(0%);
    transform-origin: 0% 100%;
    -webkit-transform-origin: 0% 100%;
}
ul.slick-dots li a:hover span {
    transition: all .5s ease;
    visibility: visible;
    opacity: 1;
    transform: scale(1) translateX(-50%) translateY(0%);
    -webkit-transform: scale(1) translateX(-50%) translateY(0%);
}
.slick-dots li:nth-child(1) a span,.slick-dots li:nth-child(2) a span,.slick-dots li:nth-child(3) a span,.slick-dots li:nth-child(4) a span{
    background-position: center;
    width: 100px;
    height: 50px;
    display: block;
    content: '';
    background-size: cover;
    border-radius: 5px;
}
.slick-dots li:nth-child(1) a span{
    background-image: url(../image/home1-slide1.jpg);
}
.slick-dots li:nth-child(2) a span{
    background-image: url(../image/home1-slide2.jpg);
}
.slick-dots li:nth-child(3) a span{
    background-image: url(../image/home1-slide3.jpg);
}
.slick-dots li:nth-child(4) a span{
    background-image: url(../image/home1-slide4.jpg);
}
.slick-dotted.slick-slider{
    margin-bottom: 0;
}
.slick-dots {
    bottom: 10px;
}
.slider_wrapper{
    position: absolute;
    top: 45%;
    right: 30%;
    text-align: center;
}
.slider_wrapper h2{
    padding-bottom: 20px;
    text-transform: uppercase;
}

ul.slick-dots li.slick-active:hover a,ul.slick-dots li:hover a{
    background-color: #fdb564;
    border-color: #000;
} 
ul.slick-dots li.slick-active a {
    background-color: #000000;
    border-color: #fff;
}
.bttn{
    padding: 10px 15px;
    border: 2px solid #fff; 
    background: transparent;
    transition: all .5s ease;
    margin-top: 20px;
    text-transform: uppercase;
}
.btn:hover{
    background-color: #fff;
}
.added_nav a.btn ,.added_nav button{
    transition: .6s all ease !important;
}
.added_nav a.btn:hover ,.added_nav button:hover {
    background-color: #feb564;
    color: #fff !important;
    box-shadow: 3px 5px 6px -2px #00000063;
}
.bttn:hover{
    background-color: #fff;
} 
 .banner_slider .slick-track .slide:nth-child(3) .slider_wrapper{
    top: 10%;
    right: 30%;
}
.banner_slider .slick-track .slide:nth-child(2) .slider_wrapper{
    top: 30%;
    right: 20%;
} 
.banner_slider .slick-track .slide:nth-child(4) .slider_wrapper{
    top: 20%;
    right: 10%;
}
.banner_slider .slick-track .slide:nth-child(4) .slider_wrapper p{
    color: #fff;
}
/* animation text */
.slide.slick-active .slider_wrapper h2 {
    animation: 1s .5s fadeInUp both;
}

.slide.slick-active .slider_wrapper p {
    animation: 1s 1s fadeInUp both;
}
.slide.slick-active .slider_wrapper .bttn {
    animation: 1s 1.3s fadeInUp both;
}

/* service section */
.service_row{
    padding: 0% 5%;
}
.service_box {
    display: flex;
    padding: 60px 0px;
    align-items: flex-start;
}
.service_box i{
    color: #fdb564;
    padding-right: 15px;
    font-size: 40px;
}
.service_desc {
    margin-right: auto;
}
.service_desc h5{
    padding-bottom: 5px;
}

/* feature products */

.cetegory_row ul li.slider_2_wrapper  {
    text-align: center;
    margin-left: 25px;
}
.slider_2  .slick-track {
    margin-left: -10px;
}
li.slider_2_wrapper{
    position: relative;
}
.slider_2_wrapper img {
    display: unset;
    width: 100%;
    height: auto;
}
.next.slick-arrow,.prev.slick-arrow{
    position: absolute;
    top: 35%;
    z-index: 1;
}
.prev.slick-arrow{
    right: 0;
}
.fi_sl_img_wrapper:hover .countdown{
    bottom: 0;
    opacity: 0;
}
.fi_sl_img_wrapper:hover .add_cart_btn{
    bottom: 20% ; 
    opacity: 1;
} 
.fi_sl_img_wrapper .add_cart_btn a{
    color: #000;
}
.fi_sl_img_wrapper .add_cart_btn:hover a{
    color: #feb564 !important;
 }
.fi_sl_img_wrapper .add_cart_btn:hover{
    background-color: #fff;
    box-shadow: 12px 0 15px -4px rgb(0 0 0 / 76%);
    -moz-box-shadow: 12px 0 15px -4px rgb(0 0 0 / 76%);
    -webkit-box-shadow: 12px 0 15px -4px rgb(0 0 0 / 76%);
    -o-box-shadow: 12px 0 15px -4px rgb(0 0 0 / 76%);
}
.fi_sl_img_wrapper .add_cart_btn{
    background-color: #fdb664a6;
    padding: 15px 50px;
    border-radius: 60px;
    transition: all .9s ease;
    position: absolute;
    bottom: 0;
    transform: translateX(-50%);
    left: 47%;
    opacity: 0;
    font-weight: 500;
}
.product_quantity_wrapper .add_cart_btn:hover{
    background-color: #feb564;
}
.product_quantity_wrapper .add_cart_btn:hover a{
    color: #fff !important;  
}
.add_cart_btn a{
    font-weight: 600;
}
.product_quantity_wrapper .add_cart_btn{
    padding: 10px 25px;
    background-color: #fdb664a6;
}
.product_quantity_wrapper .add_cart_btn{
    border-radius: 60px;
    transition: all .9s ease;
}
.countdown {
    margin: auto;
    position: absolute;
    bottom: 20%;
    width: 100%;
    left: 50%;
    max-width: 350px;
    background: #fdb664a6;
    border-radius: 150px;
    transform: translateX(-50%);
    transition: all .9s ease;
}
.countdown ul li{
    max-width: 66px;
    width: 20%;
    padding: 0px 0px 5px;
    border-radius: 5px;
    text-transform: capitalize;
    font-size: 14px;
}
.countdown ul li:nth-child(1) i{
    font-size: 40px;
}
.countdown ul li div {
    font-size: 25px;
    font-weight: 700;
}
.cetegory_row ul.filter li {
    padding: 12px 20px;
    font-size: 1em;
    float: left;
    border: solid 4px #ccc;
    margin: 0px 10px;
    cursor: pointer;
    transition: all .5s ease;
}
.cetegory_row ul.filter li.all {
    padding: 12px 40px !important;
}
.cetegory_row ul.filter  li.red {
    padding: 12px 30px !important;
}
.slider_2 {
    padding: 40px 0px;
}

.discount_badge{
    position: absolute;
    top: 40px;
    right: -50px;
}   
.new_badge{
    position: absolute;
    top: 10px;
    right: -30px;
}
.fi_sl_img_wrapper .discount_badge, .fi_sl_img_wrapper .new_badge{
    background-image: url(../image/ribin.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px 40px;
    transform: rotate(45deg);
    box-shadow: 12px 0 15px -4px rgb(0 0 0 / 49%), -12px 0 8px -4px rgb(0 0 0 / 50%);
    -moz-box-shadow: 12px 0 15px -4px rgb(0 0 0 / 49%), -12px 0 8px -4px rgb(0 0 0 / 50%);
    -webkit-box-shadow: 12px 0 15px -4px rgb(0 0 0 / 49%), -12px 0 8px -4px rgb(0 0 0 / 50%);
    -o-box-shadow: 12px 0 15px -4px rgb(0 0 0 / 49%), -12px 0 8px -4px rgb(0 0 0 / 50%);
}

.fi_sl_img_wrapper{
    position: relative;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0px 0 15px -4px rgb(0 0 0 / 15%);
    -moz-box-shadow: 0px 0 15px -4px rgb(0 0 0 / 15%);
    -webkit-box-shadow: 0px 0 15px -4px rgb(0 0 0 / 15%);
    -o-box-shadow: 0px 0 15px -4px rgb(0 0 0 / 15%);
}
.hover_show{
    position: absolute;
    top: 3%;
    left: -10%;
    opacity: 0;
    transition: all .5s ease;
}
.procuct_icon {
    display: block;
    text-align: left;
    margin-bottom: 10px;
}
.procuct_icon a {
    margin-right: 0;
}
.hover_show a{
    color: #000 !important;
    z-index: 1;
}

.fi_sl_img_wrapper .img_2{
    display: none;
    opacity: 0;
    visibility: hidden;
    transition: all .5s ease;
    transition:.5s fadeIn ; 
}
.fi_sl_img_wrapper:hover .img_1 { 
    transition: 1s .5s fadeOut ; 
    display: none;
}
.fi_sl_img_wrapper:hover .img_2 {
    transition: 1s .5s fadeIn ; 
    display: block;
    opacity: 1;
    visibility: visible;
}
.fi_sl_img_wrapper:hover .overly_1{
    display: block;
    z-index: 0;
}
.fi_sl_img_wrapper:hover .hover_show{
    opacity: 1;
    left: 5%;
    display: block;
}
.slider_wrapper_disc .product_name a{
    background-color: initial !important;
    color: #000 !important;
}
.slider_wrapper_disc .product_name a:hover{
    color: #fdb664 !important;
}
.filter .active {
    background: #fdb564;
    border: 4px solid #fdb564!important;
    color: #fff;
}
.tooltip_color{
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 50%;
    border: 2px solid #c1c1c1;
}
.tooltip_color[tooltip="Black"]{background-color: #000;border-color: #000;}
.tooltip_color[tooltip="Red"]{background-color: #ff0000;border-color: #ff0000;}
.tooltip_color[tooltip="Blue"]{background-color: #0000ff;border-color: #0000ff;}
.tooltip_color[tooltip="Green"]{background-color: #008000;border-color: #008000;}
.tooltip_color[tooltip="Yellow"]{background-color: #ffff00;border-color: #ffff00;}
.tooltip_color[tooltip="Gray"]{background-color: #808080;border-color: #808080;}
.tooltip_color[tooltip="Magenta"]{background-color: #ff00ff;border-color: #ff00ff;}
.slider_wrapper_disc p{color: #000;}

.rating_bar {
    display: inline;
    padding-top: 10px;
}
.rating_bar span.rate:hover ,.rating_bar span.rate:hover ~ span.rate {
    color: #fdb664;
    direction:ltr;
}
.rating_bar div.star{
    font-size: 12px;
}
p.product_detail{
    font-size: 14px;
}
.product_quantity input[type] {
    border: 1px solid #cfcfcf;
    border-radius: 5px;
    text-transform: capitalize;
}
.number_count {
    max-width: 40px;
    height: 40px;
    text-align: center;
    top: 0;
}
.queck_disc button{
    border: 0;
}
.product_table tr,.product_table th,.product_table tr td{
    border: 1px solid #000000;
    padding: 5px;
}
.hover_show  [tooltip]::after {
    padding: 8px 10px;
}

/*  blog */
.blog_img:hover img,.blog_wrapper:hover .blog_img img,.blog_wrapper:hover .blog_img.big::before{
    transform: scale(1.2); 
}
.blog_img img{
    transition: all .6s ease;
}
.blog_detail .bttn{
    border: 1px solid #000;
    margin-top: 5px;
}
.blog_detail .bttn a, .bttn:hover a,.blog_detail.main .bttn:hover a{
     color: #000 !important;
     font-weight: 600;
}
.bttn:hover{
    background-color: #feb564;
}
.blog_detail.main{
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    top: 50%;
    width: 100%;
    z-index: 2;
}
.blog_wrapper{
    margin-bottom: 30px;
    overflow: hidden;

}
.blog_detail.main .bttn a{
    color: #fff !important;
}
.blog_detail.main .bttn{
    margin-top: 40px;
    border: 2px solid #fff ;
}
.blog_detail.main::before{
    transform: rotate(180deg);
    margin-bottom: 40px;
}
.blog_detail.main::before,.blog_detail.main::after{
    position: relative;
    content: "";
    display: block;
    background: url(../image/title-clip-art.png);
    width: 100%;
    height: 65px;
    background-position: top center;
    background-repeat: no-repeat;
}
.blog_detail.main::after{
    margin-top: 50px;
}
.col-lg-6 .blog_img.big::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #000000a6;
    z-index: 2;
}
/*  rare collection */
.rare_collection_wrapper,.blog_img{
    overflow: hidden;
}
.rare_collection_wrapper .hover_show {
    top: 50%;
    left: -50%;
    bottom: 0;
    transform: translateX(-50%);
    display: inline-flex;
} 
.rare_collection_wrapper:hover .hover_show{
    opacity: 1;
    left: 50%;
}
.overly_white{
    position: absolute;
    top: 27%;
    left: 100%;
    bottom: 100%;
    background: #ffffff52;
    transition: all .5s ease;
    transform: rotate(45deg);
    width: 150%;
    height: 150%;
}
.rare_collection_wrapper:hover .overly_white{
    left: 0;
    transform: rotate(45deg);
    top: 0%;
}
.rare_collection_wrapper .procuct_icon i{
    transition: all .5s ease;
    background: #000;
    padding: 10px;
    color: #fff;
}
.rare_collection_wrapper .procuct_icon:hover i{
    color: #feb564;
}
.rare_collection_wrapper .procuct_icon{
    padding: 0px 15px;
    display: inline-table;
}
/* testimonial */
.slick-list {
    padding: 0 !important;
}
.star_wrapper span{
    color: #feb564;
}
.testimonial_row img{
    border-radius: 50%;
    border: 5px solid #fdb664;
}
.slider-nav .slick-list .item.slick-center img{
    transform: scale(0.7);
}
.slider-nav .slick-list .item img{
    transform: scale(0.5);
    transition: all .9s ease;
}
.testimonial_row .slider-nav{
     padding: 40px 0px; 
}
.testimonial{
    padding: 50px 0px;
    background-image: url(../image/home1-slide3.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}
.overly_testimonial{
    display: block;
    position: absolute;
    z-index: -1;
    height: unset;
}

/* insta feed */
.insta_feed_wrapper{
    margin-bottom: 24px;
    position: relative;
}
.feed_overly{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0000009e;
    opacity: 0;
    transition: opacity .5s ease;
}
.feed_icons{
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    transition: opacity .5s ease;
}
.feed_icons .feed_icon i{
    background-color: #fff;
    padding: 10px;
    margin: 0px 5px;
}
.insta_feed_wrapper:hover .feed_icons,.insta_feed_wrapper:hover .feed_overly{
    opacity: 1;
}
.instagram_feed{
    background-color: #dddde3;
    padding-top: 50px;
}
.follow_insta a{
    border-color: #000;
}
.follow_insta:hover a{
    color: #000 !important;
}
/* logo slider */
.slider_3 {
    padding: 30px 0px;
    margin: 20px 0px ;
}
.slider_3 a.PrevArrow{
    right: 0;
}
.slider_3 a.NextArrow{
    left: 0;
}
.slider_3 a{
    color: #000000;
}
/* news letter */
.news_letter,.map{
    padding: 40px 0px;
    background-color: #feb5642e;
}
/*========================================= About Us =========================================*/
.about_banner::before{
    content: '';
    background-color: #00000075;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: -2;
    bottom: 0;
}
.about_banner{
    background-image: url(../image/about_us_gb.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.client_slider .NextArrow,.client_slider .PrevArrow{
    color: #000000;
    transition: all .5s ease;
} 
.about_link_wrapper a{
    color: #fff;
}
.about_us_wrappar,.why_we_choose,.client_section {
    padding: 50px 0px;
    background-color: #f8f9fa;
}
.our_team{
    padding: 0px 0px 50px;
    background-color: #fff;
}
.member_img{
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
    text-align: center;
}
.member_img img{
    transform: scale(1);
    transition: all 1s ease;
}
.member_img:hover img{
    transform: scale(1.2);
}
.team_member_wrapper .member_img::before {
	position: absolute;
	top: 0;
	left: -75%;
	z-index: 2;
	display: block;
	content: '';
	width: 50%;
	height: 100%;
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	-webkit-transform: skewX(-25deg);
	transform: skewX(-25deg);
}
.team_member_wrapper .member_img:hover::before {
	-webkit-animation: shine .75s;
	animation: shine 1.2s;
}
@-webkit-keyframes shine {
	100% {
		left: 125%;
	}
}
@keyframes shine {
	100% {
		left: 125%;
	}
}
/*========================================= About Us end=========================================*/

/*========================================= Blog =========================================*/
.blog_header{
    padding: 30px 0px; 
}
.blog{
    padding: 50px 0px;
}
.blog_btns{
    background-color: #feb564;
    padding: 10px 15px;
    border: 1px solid #000;
}
.blog_btns:focus{
    box-shadow: 12px 0 15px -4px rgb(0 0 0 / 76%) !important;
    -moz-box-shadow: 12px 0 15px -4px rgb(0 0 0 / 76%) !important;
    -webkit-box-shadow: 12px 0 15px -4px rgb(0 0 0 / 76%) !important;
    -o-box-shadow: 12px 0 15px -4px rgb(0 0 0 / 76%) !important;
}
.blog_btns:hover,.blog_btns.active{
    background-color: #fff;
    box-shadow: 12px 0 15px -4px rgb(0 0 0 / 76%);
    -moz-box-shadow: 12px 0 15px -4px rgb(0 0 0 / 76%);
    -webkit-box-shadow: 12px 0 15px -4px rgb(0 0 0 / 76%);
    -o-box-shadow: 12px 0 15px -4px rgb(0 0 0 / 76%);
}
.resent_list li img{
    width: 100%;
}
.resent_list .blog_img{
    max-width: 44%;
}
.blog_more ul li:first-child a.blog_btns,.blog_more ul li:last-child a.blog_btns{
    background-color: #000;
    border: 1px solid #000;
    color: #fff;
}
.blog_more ul li:hover:first-child a.blog_btns,.blog_more ul li:hover:last-child a.blog_btns{
    background-color: #fdb664;
    color: #000 !important;
}
/*========================================= Blog end=========================================*/


/*========================================= contect =========================================*/
.first_last_name input::placeholder,textarea::placeholder{
    color: #000;
    background: transparent;
}
.form input:focus,.form textarea:focus,.ask_modal textarea:focus{
    border-color: #feb564;
}
/*========================================= contect end =========================================*/

/*========================================= wishlist =========================================*/
.procuct_img img{
    max-width: 60px;
}
.procuct_name {max-width: 270px;}
th,td{
    padding: 5px 10px;
}
.view .bttn{
    max-width: 100%;
    border: 1px solid #000;
    width: 170px;
}
.empty_wishlist, .empty_cart{
    display: none;
    padding: 200px 0px;
}

.wishlist_table_wrapper::-webkit-scrollbar {
    width: auto;
    height: 5px;
    background: transparent;
}
.wishlist_table_wrapper::-webkit-scrollbar-thumb {
    background: #feb564;
    border-radius: 10px;
}

/*========================================= wishlist end =========================================*/

/*========================================= product =========================================*/
.product_row {
    padding: 25px 0px;
}
.prodcuts_sidebar_selection ul {
    list-style: none;
    padding: 0;
}
.prodcuts_sidebar_selection ul .inner {
    padding-left: 20px;
    overflow: hidden;
    display: none;
}
.product_row h3{
    border-bottom: 2px solid #fdb664;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
.prodcuts_sidebar_selection ul li {
    margin-bottom: 10px;
}
.prodcuts_sidebar_selection ul li a.toggle {
    width: 100%;
    display: block;
    background:transparent;
    padding: 5px;
    transition: background 0.3s ease;
}
.prodcuts_sidebar_selection ul li a.toggle:hover {
    background: transparent;
}
.inner p{
    color: #000;
}
.inner.show{
    background-color: #fdb66422;
}
.prodcuts_sidebar_selection,.shor_by_size, .price_range ,.price_select{
    padding: 15px 0px;
}
ul.accordion li a.pluse_icon{
    width: unset;
    position: absolute;
    top: 0;
    right: 0px;
}
.sizes li a input[type=checkbox] + label {
    padding: 0;
    border-bottom: none;
    width: 38px;
    height: 32px;
    line-height: 28px;
    text-align: center;
    border: 1px solid #000000;
    transition: all .5s ease;
}
.sizes li a input[type=checkbox]:checked + label {
    border-color: #feb564;
    background-color: #fdb664;
    color: #000;
    box-shadow:10px 3px 12px -3px rgb(0 0 0 / 31%) ;
}
.sizes li a input,.select_prices li input{
    display: none;
}
.sizes li:hover a label {
    color: #000000;
}
.product_row h3{
    font-size: 20px;
}


/* price range */
/* This line can be removed it was just for display on CodePen: */

.slider-labels {
    margin-top: 10px;
}

/* Functional styling;
 * These styles are required for noUiSlider to function.
 * You don't need to change these rules to apply your design.
 */
.noUi-target,.noUi-target * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -ms-touch-action: none;
    touch-action: none;
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.noUi-target {
    position: relative;
    direction: ltr;
    border-radius: 2px;
    cursor: pointer;
}

.noUi-base {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
/* Fix 401 */
}

.noUi-origin {
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
}

.noUi-handle {
    position: relative;
    z-index: 1;
    cursor: pointer;
}

.noUi-stacking .noUi-handle {
/* This class is applied to the lower origin when
   its values is > 50%. */
    z-index: 10;
}

.noUi-state-tap .noUi-origin {
    -webkit-transition: left 0.3s,top .3s;
    transition: left 0.3s,top .3s;
}

.noUi-state-drag * {
    cursor: inherit !important;
}

/* Painting and performance;
 * Browsers can paint handles in their own layer.
 */
.noUi-base,.noUi-handle {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

/* Slider size and handle placement;
 */
.noUi-horizontal {
    height: 4px;
}

.noUi-horizontal .noUi-handle {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    left: -7px;
    top: -7px;
    background-color: #feb564;
}

/* Styling;
 */
.noUi-background {
    background: #ddd;
}

.noUi-connect {
    background: #feb564;
    -webkit-transition: background 450ms;
    transition: background 450ms;
}

.noUi-origin {
    border-radius: 2px;
}


/* Handles and cursors;
 */
.noUi-draggable {
    cursor: w-resize;
}

.noUi-vertical .noUi-draggable {
    cursor: n-resize;
}

.noUi-handle {
    -webkit-box-sizing: content-box !important;
    -moz-box-sizing: content-box !important;
    box-sizing: content-box !important;
}

.noUi-handle:active {
    border: 8px solid #feb6648a;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    left: -14px;
    top: -14px;
}

/* Disabled state;
 */
[disabled].noUi-connect,[disabled] .noUi-connect {
    background: #B8B8B8;
}

[disabled].noUi-origin,[disabled] .noUi-handle {
    cursor: not-allowed;
}
.select_prices li label{
    padding-left: 35px;
    position: relative;
    padding-bottom: 10px;
}
.select_prices li label::before{
    content: '';
    position: absolute;
    top: 2px;
    left: 0;
    background-color: #fff;
    display: block;
    width: 20px;
    height: 20px;
    border: 2px solid #ddd;
    border-radius: 50%;
    transition: all .5s ease;
    font-size: 11px;
}
.select_prices li input[type=checkbox]:checked + label::before {
    border-color: #feb564;
    content: '\f00c';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    background-color: #fdb664;
    color: #000;
    border: 2px solid #ddd;
    text-align: center;
    line-height: 17px;
}
.list-view > [class*=col-] {
    max-width: 100%;
    flex: 0 0 100%;
}
.list-view .card {
  flex-direction: row;
}
.grid_section .card-text{
    color: #000;
}
.grid_section .card{
    align-items: center;
}
.grid-container.list-view .card .fi_sl_img_wrapper {
    max-width: 25%;
}
.grid-container .card-text{
    display: none;
}
.grid-container.list-view .card-text{
    display: block;
}

.card-body{
    text-align: center;
}
.grid-container.list-view .card-body{
    text-align: start;
}
.grid_section .row.grid-container .card .card-body{
    padding: 10px;
}
.black_overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 100%;
    bottom: 0;
    background-color: #0000005c;
    z-index: 0;
    transition: all .5s ease-in-out;
}
.grid_section .card .fi_sl_img_wrapper .hover_show a, .card .fi_sl_img_wrapper .hover_show span{
    color: #fff !important;
}
.grid_section .card .fi_sl_img_wrapper .hover_show{
    z-index: 1;
}
.grid_section .card .fi_sl_img_wrapper:hover .black_overlay{
    right: 0;
}
/*--- /.price-range-slider ---*/
/*========================================= product end =========================================*/

/*========================================= product details =========================================*/
.select_size input[type=radio] + label {
    padding: 0;
    border-bottom: none;
    width: 38px;
    height: 32px;
    line-height: 28px;
    text-align: center;
    transition: all .5s ease;
    border: 1px solid #000;
}
.select_color input[type=radio]:checked + label {
    color: #000;
    border-color: #000;
    box-shadow:10px 3px 12px -3px rgb(0 0 0 / 31%) ;
}
.select_size input[type=radio]:checked + label {
    background-color: #fdb664;
    border-color: #fdb664;
    box-shadow:10px 3px 12px -3px rgb(0 0 0 / 31%) ;
}
.size input{
    display: none;
}
.select_color input[type=radio] + label, .select_size input[type=radio] + label{
    margin: 0 5px;
}
.select_color input[type=radio] + label{
    width: 20px;
    height: 20px;
    transition: all .5s ease;
}
.slick-slider .slick-prev, .slick-slider .slick-next {
    z-index: 100;
    font-size: 2.5em;
    height: 40px;
    width: 40px;
    margin-top: -20px;
    color: #B7B7B7;
    position: absolute;
    top: 50%;
    text-align: center;
    color: #000;
    opacity: .3;
    transition: opacity .25s;
    cursor: pointer;
}
.slick-slider .slick-prev:hover, .slick-slider .slick-next:hover {
    opacity: .65;
}
#detail .slick-prev , #detail .slick-next{
    display: none !important;
}
.slick-slider .slick-prev {
    left: 0;
}
.slick-slider .slick-next {
    right: 0;
}
#detail .product-images {
    width: 100%;
    margin: 0 auto;
}
#detail .product-images li, #detail .product-images figure, #detail .product-images a, #detail .product-images img {
    display: block;
    outline: none;
    border: none;
}
#detail .product-images .main-img-slider figure {
    margin: 0 auto;
    padding: 0 2em;
}
#detail .product-images .main-img-slider figure a {
    cursor: pointer;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in;
}
#detail .product-images .main-img-slider figure a img {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}
#detail .product-images .thumb-nav {
    margin: 0 auto;
    padding:20px 10px;
    max-width: 87%;
}
#detail .product-images .thumb-nav.slick-slider .slick-prev, #detail .product-images .thumb-nav.slick-slider .slick-next {
    font-size: 1.2em;
    height: 20px;
    width: 26px;
    margin-top: -10px;
}
#detail .product-images .thumb-nav.slick-slider .slick-prev {
    margin-left: -30px;
}
#detail .product-images .thumb-nav.slick-slider .slick-next {
    margin-right: -30px;
}
#detail .product-images .thumb-nav li {
    display: block;
    margin: 0 auto;
    cursor: pointer;
}
#detail .product-images .thumb-nav li img {
    display: block;
    width: 100%;
    max-width: 75px;
    margin: 0 auto;
    border: 2px solid transparent;
    -webkit-transition: border-color .25s;
    -ms-transition: border-color .25s;
    -moz-transition: border-color .25s;
    transition: border-color .25s;
}
#detail .product-images .thumb-nav li:hover, #detail .product-images .thumb-nav li:focus {
    border-color: #999;
}
#detail .product-images .thumb-nav li.slick-current img {
    border-color: #fdb664;
}
.fancybox-thumbs>ul>li:before{
    border-color: #fdb664;
}
input#email::placeholder{
    color: #000;
}    
.ask_modal input#productName:disabled{
    background-color: #fdb664;
}
#showWishlistBtn{
    display: none;
}
.product_details{
    padding: 50px 0px; 
}
#addBtn::before{
    padding-right: 10px;
}
.social_icon img{
    width: 5%;
}
/* =============================== */
.multiple_tab > ul{
    background-color: #fdb664;
}
.multiple_tab .nav-item .nav-link.active, .multiple_tab .nav-item:hover .nav-link{
    border-color: #000 !important;
    border-bottom-color: #fff5ea !important;
    background-color: #fff5ea;
    color: #000;
}
.multiple_tab .nav-item{
    transition: all .5s ease;
}
.multiple_tab .tab-content {
    background-color: #fff5ea;
}
.multiple_tab .tab-content>.active {
    display: block;
    padding: 20px;
}
.norate div.star{
    font-size: 14px;
}
.product_revie{
    display: none;
}
.ratingW {
    position: relative;
    margin: 10px 0 0;
}
.ratingW li {
    display: inline-block;
    margin: 0px;
}
.star {
    position: relative;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0.9em;
    margin-right: 0.9em;
    margin-bottom: 1.2em;
    border-right: 0.3em solid transparent;
    border-bottom: 0.7em solid #ddd;
    border-left: 0.3em solid transparent;
    /* Controlls the size of the stars. */
    font-size: 14px;
}
.star:before,
.star:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    top: 0.6em;
    left: -1em;
    border-right: 1em solid transparent;
    border-bottom: 0.7em solid #ddd;
    border-left: 1em solid transparent;
    -webkit-transform: rotate(-35deg);
    transform: rotate(-35deg);
}
.star:after {
    -webkit-transform: rotate(35deg);
    transform: rotate(35deg);
}

.ratingW li.on .star {
    position: relative;
    width: 0;
    border-bottom: 0.7em solid #fc0;
    border-left: 0.3em solid transparent;
}
.ratingW li.on .star:before,
.ratingW li.on .star:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    top: 0.6em;
    left: -1em;
    border-right: 1em solid transparent;
    border-bottom: 0.7em solid #fc0;
    border-left: 1em solid transparent;
    -webkit-transform: rotate(-35deg);
    transform: rotate(-35deg);
}
.ratingW li.on .star:after {
    -webkit-transform: rotate(35deg);
    transform: rotate(35deg);
}
.review_wrapper .ratingW li.on .star, .ratingW li.on .star:before, .ratingW li.on .star:after{
    border-bottom: 0.7em solid #fc0;
}
.sizecart_table table,.sizecart_table tr, .sizecart_table td, .sizecart_table th {
    border: 1px solid #000;
}
.sizecart_table th, .sizecart_table td{
    margin: 5px;
}
.quantity {
    display: inline-table;
    border: 2px solid #fdb664;
    padding: 7px;
}
.quantity .btn {
    width: 25px;
    height: 25px;
    line-height: 0;
    padding: 5px;
    font-size: 12px;
    text-align: center;
    margin: 0 5px;
}

.quantity input {
    width: 50px;
    height: 25px;
    border: none;
    outline: none;
    text-align: center;
}
.slider_4 .fi_sl_img_wrapper .add_cart_btn{
    padding: 15px 30px;
    width: fit-content;
}
/*========================================= product details end =========================================*/
.o-0 { opacity: 0 !important; }
.o-25 { opacity: .25 !important; }
.o-50 { opacity: .5 !important; }
.o-75 { opacity: .75 !important; }
.o-100 { opacity: 1 !important; }

/* create account */
.create_account_row form,.login_row, .forgot_password{
    padding: 70px 0;
}
/*  cart page */
td.product_quantity_wrapper .quantity{
    max-width: 100%;
    min-width: 105px;
    border: 1px solid #000;
}
td.product_quantity_wrapper .quantity input {
    max-width: 100%;
    width: 30px;
}
.table_header{
    background-color: #2a2a2c;
}
.table_header th{
    color: #fdb664;
}
.remove_col:hover i {
    cursor: pointer;
}
.cart_btns button a:hover{
    color: #000 !important;
}

.cart_btns .updateBtn.syne i {
    animation: syne .5s ease;
}
@keyframes syne {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(90deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.cart_btns .updateBtn i {
    transition: all 1s ease;
}
.total_cart_wrapper td ,.total_cart_wrapper th{
    padding: 10px 50px;
}
/* ================================================== STEP WIZARD ================================================== */

.shiping_bg{
    background-image: url(../image/shipping_banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 30vh;
    background-position-y: bottom;
}
.float_arrow i{
    transition: all .5s ease;
}
.float_arrow.rotate i{
    transform: rotate(180deg);
}
.img_wrapper {
    max-width: 15%;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.img_wrapper span{
    right: -10px;
    top: -10px;
    background-color: #808080;
}
/* ================================================== STEP WIZARD END ================================================== */

/* shipping */
#tbName::placeholder {
    color: #000;
}
.shipping_list_wrappers .up_to_date input {
    display: none;
}
.shipping_list_wrappers .up_to_date label::before, .news_letter_popup .up_to_date label::before {
    content: '';
    display: block;
    width: 22px;
    height: 22px;
    position: absolute;
    top: 50%;
    left: 0;
    border: 2px solid #ddd;
    transform: translateY(-50%);
    transition: all .5s ease;
}
.shipping_list_wrappers .up_to_date input[type=checkbox]:checked + label::before, .news_letter_popup .up_to_date input[type=checkbox]:checked + label::before{
    border-color: #feb564;
    content: '\f00c';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    background-color: #fdb664;
    color: #000;
    border: 2px solid #ddd;
    text-align: center;
    line-height: 17px;
    font-size: 11px;
}
.total_cart_wrapper .btn:hover {background-color: #000;} 
.shiping_method .form-group input[type="checkbox"]:checked ~ label::before, .button_group input[type="radio"]:checked ~ label::before, .payment_btn_group input[type="radio"]:checked ~ label::before{
    border-color: #feb564;
    content: '';
    font-weight: 900;
    color: #000;
    text-align: center;
    line-height: 17px;
    font-size: 11px;
    border: 8px solid #feb564;
}
.button_group input[type="radio"]:checked ~ label::before, .payment_btn_group input[type="radio"]:checked ~ label::before{
    border: 9px solid #feb564;
}
.shiping_method .form-group label::before , .button_group label::before, .payment_btn_group label::before{
    content: '';
    display: block;
    width: 22px;
    height: 22px;
    position: absolute;
    top: 0%;
    left: 0;
    border: 2px solid #ddd;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    border-radius: 50%;
}
.button_group label, .payment_btn_group label{
    padding-left: 35px;
}
.card_number span {
    position: absolute;
    top: 50%;
    right: 4%;
    transform: translateY(-50%);
}
.col-md-6 .card_number span {
    right: 7%;
}
.tooltip-inner {
   padding: 10px 15px; 
   background-color: #000000ab;
}
.bs-tooltip-auto[data-popper-placement^=left] .tooltip-arrow::before,.bs-tooltip-start .tooltip-arrow::before{border-left-color: #000000ab !important;}
.bs-tooltip-auto[data-popper-placement^=right] .tooltip-arrow::before, .bs-tooltip-end .tooltip-arrow::before{border-right-color: #000000ab !important;}
.bs-tooltip-auto[data-popper-placement^=top] .tooltip-arrow::before ,.bs-tooltip-top .tooltip-arrow::before{border-top-color: #000000ab !important;}
.bs-tooltip-auto[data-popper-placement^=bottom] .tooltip-arrow::before, .bs-tooltip-bottom .tooltip-arrow::before{border-bottom-color: #000000ab !important;}
.form-floating>.form-control:not(:placeholder-shown) {
    padding-top: 20px;  
    padding-bottom: 10px;
}

.billing_add_choose .tab-pane ,.shipping_list_wrappers .shipping ,.shipping_list_wrappers .payment ,.pay_now, .hide_menu_bar, .credit_wrapper{
    display: none;
}
.product_di{
    padding: 10px 0;
}
.ship_bg{
    border-left: 1px solid #ddd;
}
.logo_wrapper{
    position: absolute;
    top: -110px;
    left: 0;
}
.shipping_main::before {
    content: '';
    display: block;
    position: absolute;
    width: 50%;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #fafafa;
    z-index: -1;
}
.product_ship_details {
    padding-bottom: 286px;
}
.button_group label {cursor: pointer;}
.credit_wrapper, .ditails_wrapper, .billing_add_choose .tab-pane{background-color: #dddde373;}
.steps_list ul li a.active {
    color: #feb564;
}
/* shipping end */

/* popup */
.popup_wrapper{
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
}
.popup_row .btn-close {
    position: absolute;
    right: 0;
    z-index: 3;
}
.news_letter_popup .bttn {  padding: 5px 20px;}
/* popup end */

/* footer */
.footer_secton,.navbar{
    background-color: #2a2a2c !important;
}
.footer_contect ul li:hover i,.footer_contect ul li span:hover{
    color: #feb664d5;
}
footer p,.footer_contect ul li,.footer_row ul li a{
    color: #fff;
    transition: all .3s ease-in-out;
    padding-bottom:10px;
}
.icon i:hover{
    background-color: #fdb564;
    color: #fff ;
}
.footer_follow ul{
    display: flex;
    flex-wrap: wrap;
}
.icon i {
    font-size: 16px;
    width: 30px;
    height: 30px;
    color: #000000;
    background-color: #fff;
    line-height: 30px;
    border-radius: 50%;
    margin: 0px 5px;
    text-align: center;
    transition: all ease .5s;
}
.footer_form{
    position: relative;
    width: 90%;
}
.footer_form input{
    background: transparent;
    border-style: none;
    border-bottom: 1px solid #fff;
    width: 100%;
    color: #fff;
    margin: 10px 0px;
}
.footer_information ul,.footer_contect ul {
    display: grid;
}
.submit.btn{
    position: absolute;
    bottom: 15px;
    right: 0;
}
.store_icon img{
    border-radius: 5px;
    width: 40%;
}
.payment-icon svg {
    width: 75px;
    height: auto;
}
.copyright{
    text-align: center;
    padding: 20px 0px;
}
.copyright h6,.copyright h6 a{
    color: #fff;
}
footer.footer_secton {
    padding: 50px 0px 10px;
}

/*  top */
.top_arrow{
    position: fixed;
    bottom: 50px;
    right: 42px;
    z-index: 39;
    display: none;
}
.top{
    background-color: #feb564;
    color: #fff !important;
    padding: 15px 20px;
    border-radius: 50%;
}
.top_arrow:hover .top{
    background-color: #fff;
    color: #000 !important;
    box-shadow: 12px 0 15px -4px rgb(0 0 0 / 76%);
    -moz-box-shadow: 12px 0 15px -4px rgb(0 0 0 / 76%);
    -webkit-box-shadow: 12px 0 15px -4px rgb(0 0 0 / 76%);
    -o-box-shadow: 12px 0 15px -4px rgb(0 0 0 / 76%);
}

/* tooltip */
/* Tooltip */
[tooltip] {
    position: relative;
    }
    [tooltip]::before,
    [tooltip]::after {
    text-transform: none;
    font-size: 0.9em;
    line-height: 1;
    user-select: none;
    pointer-events: none;
    position: absolute;
    display: none;
    opacity: 0;
    }
    [tooltip]::before {
    content: "";
    border: 5px solid transparent;
    z-index: 1001;
    }
    [tooltip]::after {
    content: attr(tooltip);
    text-align: center;
    min-width: 3em;
    max-width: 21em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0.5em 1em;
    border-radius: 5px;
    box-shadow: 0 1em 2em -0.5em rgba(0, 0, 0, 0.35);
    background: #020204;
    color: #fff;
    z-index: 1000;
    }
    [tooltip]:hover::before,
    [tooltip]:hover::after {
    display: block;
    }
    [tooltip=""]::before,
    [tooltip=""]::after {
    display: none !important;
    }
    [tooltip]:not([flow])::before,
    [tooltip][flow^="up"]::before {
    bottom: 100%;
    border-bottom-width: 0;
    border-top-color: #111;
    }
    [tooltip]:not([flow])::after,
    [tooltip][flow^="up"]::after {
    bottom: calc(100% + 5px);
    }
    [tooltip]:not([flow])::before,
    [tooltip]:not([flow])::after,
    [tooltip][flow^="up"]::before,
    [tooltip][flow^="up"]::after {
    left: 50%;
    transform: translate(-50%, -0.5em);
    }
    
    [tooltip]:not([flow])::before,
    [tooltip][flow^="up-left"]::before {
    bottom: 100%;
    border-bottom-width: 0;
    border-top-color: #111;
    }
    [tooltip]:not([flow])::after,
    [tooltip][flow^="up-left"]::after {
    bottom: calc(100% + 5px);
    }
    [tooltip]:not([flow])::before,
    [tooltip][flow^="up-left"]::before {
    left: 25%;
    }
    [tooltip]:not([flow])::after,
    [tooltip][flow^="up-left"]::after {
    left: 50%;
    }
    
    [tooltip]:not([flow])::before,
    [tooltip][flow^="up-right"]::before {
    bottom: 100%;
    border-bottom-width: 0;
    border-top-color: #111;
    }
    [tooltip]:not([flow])::after,
    [tooltip][flow^="up-right"]::after {
    bottom: calc(100% + 5px);
    }
    [tooltip]:not([flow])::before,
    [tooltip][flow^="up-right"]::before {
    left: 75%;
    transform: translate(-50%, -0.5em);
    }
    [tooltip]:not([flow])::after,
    [tooltip][flow^="up-right"]::after {
    left: 50%;
    transform: translate(-50%, -0.5em);
    }
    
    [tooltip][flow^="down"]::before {
    top: 100%;
    border-top-width: 0;
    border-bottom-color: #020204;
    }
    [tooltip][flow^="down"]::after {
    top: calc(100% + 5px);
    }
    [tooltip][flow^="down"]::before,
    [tooltip][flow^="down"]::after {
    left: 50%;
    transform: translate(-50%, 0.5em);
    }
    
    [tooltip][flow^="down-left"]::before {
    top: 100%;
    border-top-width: 0;
    border-bottom-color: #020204;
    }
    [tooltip][flow^="down-left"]::after {
    top: calc(100% + 5px);
    }
    [tooltip][flow^="down-left"]::before {
    left: 30%;
    }
    [tooltip][flow^="down-left"]::after {
    left: 50%;
    }
    
    [tooltip][flow^="down-right"]::before {
    top: 100%;
    border-top-width: 0;
    border-bottom-color: #020204;
    }
    [tooltip][flow^="down-right"]::after {
    top: calc(100% + 5px);
    }
    [tooltip][flow^="down-right"]::before {
    left: 70%;
    transform: translate(-85%, 0.5em);
    }
    [tooltip][flow^="down-right"]::after {
    left: 50%;
    transform: translate(-50%, 0.5em);
    }
    
    [tooltip][flow^="left"]::before {
    top: 50%;
    border-right-width: 0;
    border-left-color: #020204;
    left: calc(0em - 5px);
    transform: translate(-0.5em, -50%);
    }
    [tooltip][flow^="left"]::after {
    top: 50%;
    right: calc(100% + 5px);
    transform: translate(-0.5em, -50%);
    }
    [tooltip][flow^="right"]::before {
    top: 50%;
    border-left-width: 0;
    border-right-color: #020204;
    right: calc(0em - 5px);
    transform: translate(0.5em, -50%);
    }
    [tooltip][flow^="right"]::after {
    top: 50%;
    left: calc(100% + 5px);
    transform: translate(0.5em, -50%);
    }
    
    [tooltip]:not([flow]):hover::before,
    [tooltip]:not([flow]):hover::after,
    [tooltip][flow^="up"]:hover::before,
    [tooltip][flow^="up"]:hover::after,
    [tooltip][flow^="up-left"]:hover::before,
    [tooltip][flow^="up-left"]:hover::after,
    [tooltip][flow^="up-right"]:hover::before,
    [tooltip][flow^="up-right"]:hover::after,
    [tooltip][flow^="down"]:hover::before,
    [tooltip][flow^="down"]:hover::after,
    [tooltip][flow^="down-left"]:hover::before,
    [tooltip][flow^="down-left"]:hover::after,
    [tooltip][flow^="down-right"]:hover::before,
    [tooltip][flow^="down-right"]:hover::after {
    animation: tooltips-vert 300ms ease-out forwards;
    }
    [tooltip][flow^="left"]:hover::before,
    [tooltip][flow^="left"]:hover::after,
    [tooltip][flow^="right"]:hover::before,
    [tooltip][flow^="right"]:hover::after {
    animation: tooltips-horz 300ms ease-out forwards;
    }
    @-moz-keyframes tooltips-vert {
    to {
    opacity: 0.9;
    transform: translate(-50%, 0);
    }
    }
    @-webkit-keyframes tooltips-vert {
    to {
    opacity: 0.9;
    transform: translate(-50%, 0);
    }
    }
    @-o-keyframes tooltips-vert {
    to {
    opacity: 0.9;
    transform: translate(-50%, 0);
    }
    }
    @keyframes tooltips-vert {
    to {
    opacity: 0.9;
    transform: translate(-50%, 0);
    }
    }
    @-moz-keyframes tooltips-horz {
    to {
    opacity: 0.9;
    transform: translate(0, -50%);
    }
    }
    @-webkit-keyframes tooltips-horz {
    to {
    opacity: 0.9;
    transform: translate(0, -50%);
    }
    }
    @-o-keyframes tooltips-horz {
    to {
    opacity: 0.9;
    transform: translate(0, -50%);
    }
    }
    @keyframes tooltips-horz {
    to {
    opacity: 0.9;
    transform: translate(0, -50%);
    }
    }

    